<div>
  <div class="fadq-client-tool-top-section">
    <fadq-client-parcel-year-selector [store]="parcelYearStore"></fadq-client-parcel-year-selector>
  </div>

  <div *ngIf="message$ | async as message" class="fadq-error-text">
    {{message | translate}}
  </div>

  <igo-list [navigation]="false" [selection]="false">
    <ng-template ngFor let-workspace [ngForOf]="workspaces.view.all$() | async">
      <fadq-client-tool-item
        [workspace]="workspace"
        [selected]="(activeWorkspace$ | async) === workspace"
        (clear)="onClearWorkspace($event)"
        (select)="onSelectWorkspace($event)">
      </fadq-client-tool-item>
    </ng-template>

    <igo-collapsible
      *ngIf="showLegend$ | async"
      [title]="'client.legend.title' | translate"
      [collapsed]="true">
      <fadq-client-parcel-legend></fadq-client-parcel-legend>
    </igo-collapsible>
  </igo-list>
</div>
