<mat-tab-group>

  <mat-tab [label]="'map.layers' | translate">
    <div *ngIf="saveContextEnabled">
      <button
        mat-icon-button
        class="fadq-save-context-btn"
        tooltip-position="below"
        matTooltipShowDelay="500"
        [matTooltip]="'saveContext.tooltip' | translate"
        (click)="onSaveContextButtonClick()">
        <mat-icon svgIcon="layers-edit"></mat-icon>
      </button>
    </div>

    <igo-layer-list
      igoLayerListBinding
      [excludeBaseLayers]="false"
      [queryBadge]="true"
      [toggleLegendOnVisibilityChange]="false"
      [updateLegendOnResolutionChange]="true"
      [map]="map">

      <ng-template #igoLayerItemToolbar let-layer="layer">
        <button
          *ngIf="showInfoButton(layer)"
          mat-icon-button
          tooltip-position="below"
          matTooltipShowDelay="500"
          [matTooltip]="'igo.geo.metadata.show' | translate"
          (click)="onInfoButtonClick(layer)">
          <mat-icon svgIcon="information-outline"></mat-icon>
        </button>
      </ng-template>

    </igo-layer-list>
  </mat-tab>

  <mat-tab [label]="'igo.integration.tools.catalog' | translate">
    <igo-catalog-library-tool [toggleCollapsedGroup]="false"></igo-catalog-library-tool>
  </mat-tab>
  
</mat-tab-group>
