<mat-tab-group>

  <mat-tab [label]="'igo.integration.tools.catalog' | translate">
    <igo-catalog-library-tool [toggleCollapsedGroup]="false"></igo-catalog-library-tool>
  </mat-tab>

  <mat-tab [label]="'map.layers' | translate">
    <igo-layer-list
      igoLayerListBinding
      [excludeBaseLayers]="false"
      [queryBadge]="true"
      [toggleLegendOnVisibilityChange]="false"
      [updateLegendOnResolutionChange]="true">

      <ng-template #igoLayerItemToolbar let-layer="layer">
        <button
          *ngIf="showInfoButton(layer)"
          mat-icon-button
          tooltip-position="below"
          matTooltipShowDelay="500"
          [matTooltip]="'igo.geo.metadata.show' | translate"
          (click)="onInfoButtonClick(layer)">
          <mat-icon svgIcon="information-outline"></mat-icon>
        </button>
      </ng-template>

    </igo-layer-list>
  </mat-tab>
  
</mat-tab-group>
