<mat-sidenav-container class="fadq-main-container">

  <igo-backdrop
    [shown]="backdropShown"
    (click)="onBackdropClick()">
  </igo-backdrop>

  <button
    mat-icon-button
    id="menu-button"
    class="fadq-menu-button"
    color="primary"
    tooltip-position="below"
    matTooltipShowDelay="500"
    [matTooltip]="(sidenavOpened ? 'menu.close' : 'menu.open') | translate"
    (click)="onToggleSidenavClick()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>

  <igo-search-bar
    igoSearchBarBinding
    [searchSelector]="true"
    [searchTypes]="searchTypes"
    [minLength]="minSearchTermLength"
    (searchTypeChange)="onSearchTypeChange($event)"
    (searchTermChange)="onSearchTermChange($event)"
    (search)="onSearch($event)">
  </igo-search-bar>

  <fadq-sidenav
    [ngClass]="{'fadq-sidenav-with-expansion-panel': expansionPanelExpanded}"
    [(opened)]="sidenavOpened">
  </fadq-sidenav>

  <igo-map-browser
    #mapBrowser
    igoQuery
    [queryFeatures]="true"
    [queryFeaturesHitTolerance]="5"
    [waitForAllQueries]="true"
    igoMapContext
    igoLayerContext
    [removeLayersOnContextChange]="false"
    igoDropGeoFile
    [map]="map"
    [igoContextMenu]="contextualMenu"
    (menuPosition)="onContextualMenuOpen($event)"
    (query)="onMapQuery($event)">
    <igo-baselayers-switcher [map]="map"></igo-baselayers-switcher>
  </igo-map-browser>
</mat-sidenav-container>

<div class="fadq-footer"></div>

<fadq-map-actionbar
  [map]="map"
  [mode]="mapActionbarMode"
  [withTitle]="mapActionbarWithTitle">
</fadq-map-actionbar>

<fadq-expansion-panel
  [(expanded)]="expansionPanelExpanded"
  [backdropShown]="expansionPanelBackdropShown">

  <ng-container expansionPanelHeader>
    <igo-workspace-selector [store]="workspaces"></igo-workspace-selector>
    <igo-actionbar
      *ngIf="(workspace$ | async) as workspace"
      [store]="workspace.actionStore"
      [horizontal]="true"
      [xPosition]="'after'"
      [yPosition]="'above'"
      [overlayClass]="'fadq-expansion-panel-actionbar-overlay'"
      [withToggleButton]="true"
      [withTitle]="actionbarWithTitle"
      [mode]="actionbarMode">
    </igo-actionbar>

    <ng-container *ngIf="expansionPanelExpanded">
      <div *ngIf="(workspace$ | async) as workspace" class="fadq-workspace-count">
        {{workspace.entityStore.stateView.count$ | async}} / {{workspace.entityStore.count$ | async}}
      </div>
    </ng-container>
  </ng-container>

  <igo-entity-table
    *ngIf="(workspace$ | async) as workspace"
    class="table-compact table-centered"
    [store]="workspace.entityStore"
    [template]="workspace.meta.tableTemplate">
  </igo-entity-table>

</fadq-expansion-panel>

<fadq-toast-panel
  [withHeader]="false"
  [(opened)]="toastPanelOpened"
  (clear)="clearSearchResult()">

  <igo-workspace-widget-outlet
    *ngIf="(workspace$ | async) as workspace"
    [workspace]="workspace"
    (deactivateWidget)="onDeactivateWorkspaceWidget()">
  </igo-workspace-widget-outlet>

  <div class="fadq-toast-panel-close-button-container">
    <button
      mat-icon-button
      color="warn"
      (click)="closeToastPanel()">
      <mat-icon svgIcon="menu-down"></mat-icon>  
    </button>
  </div>

</fadq-toast-panel>

<div class="fadq-toast-panel-open-button-container">
  <button
    *ngIf="!toastPanelOpened && showToastPanelToggle"
    mat-flat-button
    color="warn"
    (click)="openToastPanel()">
    <mat-icon svgIcon="menu-up"></mat-icon>
  </button>
</div>

<ng-template #contextualMenu>
  <fadq-contextual-menu
    [map]="map"
    [mapBrowser]="mapBrowserEl"
    [location]="contextualMenuLocation$ | async"
    >
  </fadq-contextual-menu>
</ng-template>
