<div>
  <div class="fadq-client-tool-top-section">
    <fadq-client-parcel-year-selector
      [disabled]="parcelYearSelectorDisabled$ | async"
      [store]="parcelYears">
    </fadq-client-parcel-year-selector>
  </div>

  <fadq-message-inline
    *ngIf="message$ | async as message"  
    [message]="message">
  </fadq-message-inline>

  <igo-list [navigation]="false" [selection]="false">
    <ng-template ngFor let-controller [ngForOf]="(controllers.view.all$() | async).slice().reverse()">
      <fadq-client-tool-item
        [controller]="controller"
        [showLegend]="!(showLegend$ | async)"
        [showInfo]="showInfo"
        [selected]="(activeController$ | async) === controller"
        (clear)="onDestroyController($event)"
        (select)="onSelectController($event)"
        (clickAddress)="onClickAddress($event)">
      </fadq-client-tool-item>
    </ng-template>

    <igo-collapsible
      *ngIf="showLegend$ | async"
      [title]="'client.legend.title' | translate"
      [collapsed]="true">
      <fadq-client-parcel-legend></fadq-client-parcel-legend>
    </igo-collapsible>
  </igo-list>
</div>
