<mat-list-item>
  <div class="fadq-client-header">
    <div class="fadq-client-header-left">
      <mat-icon
        class="igo-chevron"
        mat-list-avatar
        igoCollapse
        svgIcon="chevron-up"
        [target]="content"
        [collapsed]="!(showContent$ | async)"
        (toggle)="toggleContent($event)">
      </mat-icon>
    </div>

    <div class="fadq-client-header-center" (click)="onSelect()">
      {{controller.client.info.numero}} - {{controller.client.info.nom}}
      <div class="fadq-client-header-badges">
        <mat-icon
          *ngIf="controller.parcelTxOngoing | async"
          class="fadq-client-header-badge"
          svgIcon="square-edit-outline"
          [color]="controller.parcelYear.current ? 'default' : 'warn'">
        </mat-icon>
        <mat-icon
          *ngIf="!(controller.parcelElementTransaction.empty$ | async)"
          class="fadq-client-header-badge"
          svgIcon="floppy">
        </mat-icon>
      </div>
    </div>

    <div class="fadq-client-header-right">
      <button mat-icon-button (click)="onClear()">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
      <div *ngIf="showLegend" class="fadq-per-client-legend-thumbnail-container">
        <div class="fadq-per-client-legend-thumbnail-wrapper">
          <div
            class="fadq-per-client-legend-thumbnail"
            [ngStyle]="{'border-color': getParcelOuterColor(), 'background-color': getParcelInnerColor()}">
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-list-item>
  
<div #content class="fadq-client-content">
  <fadq-message-inline
    *ngIf="controller.message$ | async as message"  
    [message]="message">
  </fadq-message-inline>

  <div class="fadq-client-tool-bottom-section"></div>
  <fadq-client-parcel-diagram-selector [store]="controller.diagramStore"></fadq-client-parcel-diagram-selector>
  <fadq-client-schema-selector [store]="controller.schemaStore"></fadq-client-schema-selector>

  <ng-container *ngIf="showInfo">
    <a
      href=""
      target="popup"
      class="fadq-client-info-link"
      (click)="openClientInfoLink(controller.client)">
      Information détaillée
    </a>
    <fadq-client-info-addresses
      [client]="controller.client"
      [map]="controller.map"
      (clickAddress)="clickAddress.emit($event)">
    </fadq-client-info-addresses>
  </ng-container>
</div>
  
