<div>
  <div class="fadq-expansion-panel-trigger-container">
    <button mat-icon-button (click)="onToggleClick()">
      <mat-icon 
        *ngIf="!expanded" 
        matTooltipShowDelay="500" 
        [matTooltip]="'expansion-panel.header-not-expanded.tooltip' | translate" 
        color="primary">
        arrow_circle_up
      </mat-icon>
      <mat-icon 
        *ngIf="expanded"
        matTooltipShowDelay="500" 
        [matTooltip]="'expansion-panel.header-expanded.tooltip' | translate"
        color="primary" >
        arrow_circle_down
      </mat-icon>
    </button>
  </div>

  <div class="fadq-expansion-panel-content">
    <ng-content></ng-content>
  </div>
</div>
