
:host {
  display: block;
  padding: 10px;
}

.fadq-client-parcel-tool-header {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.fadq-client-parcel-tool-legend-container {
  margin-bottom: 20px;
}

.fadq-client-parcel-tool-legend {
  padding: 0 20px;
}

fadq-client-parcel-pro-wizard {
  display: block;
  margin-top: 10px;
}
