
<div>
  <igo-list [navigation]="false" [selection]="false">
    <igo-collapsible
      [title]="'client.parcelPro.overview.title' | translate"
      [collapsed]="false">
      <fadq-client-parcel-pro-legend
        [groups]="parcelProGroups$ | async">
      </fadq-client-parcel-pro-legend>
    </igo-collapsible>

    <igo-collapsible
      *ngIf="(parcelPros$ | async).length"
      [title]="'client.parcelPro.edit.title' | translate"
      [collapsed]="false">
      <div class="fadq-client-parcel-pro-edit">
        <p>
          <small class="fadq-client-parcel-pro-count">
            {{(parcelPros$ | async).length}} parcelles sélectionnées
          </small>
        </p>
    
        <fadq-client-parcel-pro-update-batch
          [store]="store"
          [transaction]="transaction"
          [parcelPros]="parcelPros$ | async"
          (complete)="onCompleteUpdate($event)"
          (cancel)="onCancelUpdate()">
        </fadq-client-parcel-pro-update-batch>
      </div>
    </igo-collapsible>
  </igo-list>
</div>
