@use '@angular/material' as mat;
@use 'sass:map';
@import '@igo2/core/style/index.theming.scss';


$primary: mat.define-palette(mat.$blue-palette,800);
$accent: mat.define-palette(mat.$blue-palette, 200);
$warn: mat.define-palette(mat.$red-palette);
$success: mat.define-palette(mat.$green-palette);

$theme: mat.define-light-theme((
  color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
  )
));

$is-dark: map.get($theme, is-dark);
$foreground: map.get($theme, foreground);
$background: map.get($theme, background);

//$foreground: theme-foreground(mat.define-palette(mat.$grey-palette, 900));
// $theme: map-merge($temp-theme, (foreground: $foreground));

@include igo-all-theming($theme);
@include mat.all-component-colors($theme);

table.igo-striped tbody tr:nth-child(odd) {
  background-color: mat.get-color-from-palette($background, if($is-dark, app-bar, status-bar));
  color: mat.get-color-from-palette($foreground, text);
}

.fadq-error-text,
.fadq-alert-text {
  color: mat.get-color-from-palette($warn);
}

.fadq-success-text {
  color: mat.get-color-from-palette($success);
}
